<dialog part="dialog" aria-labelledby="title">
  <header part="header">
    <h2 part="title" id="title">
      <slot name="title"></slot>
    </h2>
    <cc-button part="close-button" theme="borderless icon round" onclick="this.getRootNode().host.hide();">
      <cc-icon icon="cross" label="Close dialog" style="--size: 2em;"></cc-icon>
      <cc-visually-hidden>Close</cc-visually-hidden>
    </cc-button>
  </header>
  <div part="body"><slot></slot></div>
  <footer part="footer">
    <slot name="footer"></slot>
  </footer>
</dialog>